body {
    font-family: 'M PLUS 1P', sans-serif;
}
.section {
    background-color: #29ab87;
    padding: 120px 0;
}
.container {
    width: 90%;
    max-width: 1140px;
    margin: 0 auto;
}
h2 {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color : #ffe135;
    margin-bottom: 40px;
}
.row {
    display: flex;
    justify-content: space-between;
}
.col {
    width: 32%;
    background-color: #ffffff;
    padding: 48px 29px;
    border: solid 6px #ffe135;
    text-align: center;
    position: relative;
}
.col::before {
    content: '';
    background-color: #ffe135;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom-right-radius: 200px;
}
.number {
    position: absolute;
    top: 6px;
    left: 13px;
    font-size: 30px;
    font-weight: 16px;
    color: #ffffff;
}
.icon {
    width: 64px;
    margin-bottom: 16px;
}
h3 {
    font-size: 20px;
    font-weight: 700;
    color: #29ab87;
    margin-bottom: 10px;
}
.text {
    text-align: left;
    line-height: 1.5;
}
@media  screen and (max-width: 767px) {
    .row{
        flex-wrap: wrap;
        gap: 20px;
    }
    .col {
        width: 100%;
    }
}

